/* GENERAL */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

/* TOP CONTAINER */

#top-container {
  height: 100%;
}

#top-container .cloud1 {
  width: 10%;
}

#top-container .cloud2 {
  width: 10%;
}
