/* GENERAL */

:root {
  --background-top: #edfdff;
  --background-bottom: #1d634e;
  --background-top-gradient: rgb(237, 253, 255);
  --background-top-gradient-50: linear-gradient(
    180deg,
    rgba(237, 253, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  --clr-main: #57ad93;
  --clr-bottom: #eaf6f6;
}

body,
figure {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img[alt="cloud-img"] {
  width: 10em;
}

h1,
h2,
h3 {
  color: var(--clr-main);
}

/* TOP CONTAINER */

#top-container {
  background: var(--background-top-gradient);
  background: var(--background-top-gradient-50);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#top-container h1 {
  margin: 0;
  font-family: "Clicker Script", cursive;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5em;
  word-spacing: 10px;
}

#top-container .big-letter {
  font-size: 5rem;
}

#top-container h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
}

#top-container .headings-container {
  margin: 0;
  text-align: center;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5em;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  margin-top: 20vh;
  margin-bottom: 15vh;
}

#top-container .mountain-sm {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  max-width: 50em;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate3d(-50%, 0, 1px);
  transform: translate3d(-50%, 0, 1px);
}

#top-container .mountain-lg {
  display: none;
}

@media (max-width: 375px) {
  #top-container .headings-container {
    margin-top: 12vh;
    margin-bottom: 10vh;
  }

  #top-container h1 {
    font-size: 3.5rem;
    font-weight: 600;
  }

  #top-container .big-letter {
    font-size: 4.5rem;
  }

  #top-container .small-letters {
    letter-spacing: -3px;
  }

  #top-container h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  #top-container .cloud1,
  .cloud2,
  .cloud3,
  .cloud4 {
    display: none;
  }
}

@media (max-width: 300px) {
  #top-container h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  #top-container .big-letter {
    font-size: 3.5rem;
  }

  #top-container .small-letters {
    letter-spacing: -3px;
  }

  #top-container h2 {
    font-size: 0.8rem;
    font-weight: 600;
  }

  #top-container .headings-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  #top-container .cloud1,
  .cloud2,
  .cloud3,
  .cloud4 {
    display: none;
  }
}

@media (min-width: 375px) {
  #top-container .cloud1,
  .cloud2,
  .cloud3,
  .cloud4 {
    display: none;
  }

  #top-container h1 {
    font-weight: 600;
  }

  #top-container h2 {
    font-weight: 600;
  }

  #top-container .small-letters {
    letter-spacing: -3px;
  }
}

@media (min-width: 500px) {
  #top-container .mountain-lg {
    display: inline;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 37em;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate3d(-50%, 0, 1px);
    transform: translate3d(-50%, 0, 1px);
  }

  #top-container .mountain-sm {
    display: none;
  }

  #top-container h1 {
    font-size: 4.8rem;
    font-weight: 500;
  }

  #top-container .big-letter {
    font-size: 5.8rem;
  }

  #top-container .small-letters {
    letter-spacing: 0;
  }

  #top-container h2 {
    font-size: 1.1em;
    font-weight: 600;
  }

  #top-container .headings-container {
    margin-top: 15vh;
    margin-bottom: 5.5vh;
  }
}

@media (min-width: 768px) {
  #top-container {
    background: var(--background-top-gradient);
    background: var(--background-top-gradient-50);
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #top-container .mountain-lg {
    display: inline;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate3d(-50%, 0, 1px);
    transform: translate3d(-50%, 0, 1px);
  }

  #top-container h1 {
    font-size: 6rem;
  }

  #top-container .big-letter {
    font-size: 7.1004rem;
  }

  #top-container h2 {
    font-size: 1.3rem;
  }

  #top-container .headings-container {
    margin-top: 15vh;
    margin-bottom: 5vh;
  }

  #top-container .cloud1,
  .cloud3 {
    display: none;
  }

  #top-container .cloud2 {
    opacity: 0;
    display: inline;
    max-width: 10em;
    position: absolute;
    top: 10vh;
    left: -200px;
    -webkit-animation: wind-768 30s 10s linear infinite;
    animation: wind-768 30s 10s linear infinite;
  }

  #top-container .cloud4 {
    display: inline;
    max-width: 10em;
    position: absolute;
    top: 35vh;
    -webkit-animation: wind-768 20s linear infinite;
    animation: wind-768 20s linear infinite;
  }

  @-webkit-keyframes wind-768 {
    0% {
      opacity: 0;
      left: 3vw;
    }

    3% {
      opacity: 0.9;
    }

    97% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
      left: 80vw;
    }
  }

  @keyframes wind-768 {
    0% {
      opacity: 0;
      left: 3vw;
    }

    3% {
      opacity: 0.9;
    }

    97% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
      left: 80vw;
    }
  }
}

@media (min-width: 992px) {
  #top-container .mountain-lg {
    display: inline;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 45em;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate3d(-50%, 0, 1px);
    transform: translate3d(-50%, 0, 1px);
  }

  #top-container h1 {
    font-size: clamp(6rem, 6.5vw, 6.5rem);
  }

  #top-container .big-letter {
    font-size: clamp(7.1004rem, 9.0248vw, 9.0248rem);
  }

  #top-container h2 {
    font-size: clamp(1.3rem, 1.5vw, 1.5rem);
  }

  #top-container .cloud1 {
    opacity: 0;
    display: inline;
    max-width: 10em;
    position: absolute;
    top: 7vh;
    -webkit-animation: wind-992 30s 25s linear infinite;
    animation: wind-992 30s 25s linear infinite;
  }

  #top-container .cloud2 {
    opacity: 0;
    display: inline;
    max-width: 10em;
    position: absolute;
    top: 7vh;
    -webkit-animation: wind-992 30s 10s linear infinite;
    animation: wind-992 30s 10s linear infinite;
  }

  #top-container .cloud3 {
    opacity: 0;
    display: inline;
    max-width: 12em;
    position: absolute;
    top: 35vh;
    -webkit-animation: wind-992 20s 10s linear infinite;
    animation: wind-992 20s 10s linear infinite;
  }

  #top-container .cloud4 {
    display: inline;
    max-width: 10em;
    position: absolute;
    top: 35vh;
    -webkit-animation: wind-992 20s linear infinite;
    animation: wind-992 20s linear infinite;
  }

  @-webkit-keyframes wind-992 {
    0% {
      opacity: 0;
      left: 3vw;
    }

    3% {
      opacity: 0.9;
    }

    97% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
      left: 80vw;
    }
  }

  @keyframes wind-992 {
    0% {
      opacity: 0;
      left: 3vw;
    }

    3% {
      opacity: 0.9;
    }

    97% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
      left: 80vw;
    }
  }
}

@media (min-width: 1200px) {
  #top-container {
    background: var(--background-top);
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #top-container .headings-container {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #top-container .mountain-lg {
    max-width: 45em;
  }

  #top-container .cloud1 {
    opacity: 0;
    display: inline;
    max-width: 12em;
    position: absolute;
    top: 7vh;
    -webkit-animation: wind-1200 40s 25s linear infinite;
    animation: wind-1200 40s 25s linear infinite;
  }

  #top-container .cloud2 {
    opacity: 0;
    display: inline;
    max-width: 12em;
    position: absolute;
    top: 7vh;
    -webkit-animation: wind-1200 40s 10s linear infinite;
    animation: wind-1200 40s 10s linear infinite;
  }

  #top-container .cloud3 {
    opacity: 0;
    display: inline;
    max-width: 12em;
    position: absolute;
    top: 40vh;
    -webkit-animation: wind-1200 30s 20s linear infinite;
    animation: wind-1200 30s 20s linear infinite;
  }

  #top-container .cloud4 {
    display: inline;
    max-width: 12em;
    position: absolute;
    top: 40vh;
    -webkit-animation: wind-1200 30s linear infinite;
    animation: wind-1200 30s linear infinite;
  }

  @-webkit-keyframes wind-1200 {
    0% {
      opacity: 0;
      left: 3vw;
    }

    3% {
      opacity: 0.9;
    }

    97% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
      left: 90vw;
    }
  }

  @keyframes wind-1200 {
    0% {
      opacity: 0;
      left: 3vw;
    }

    3% {
      opacity: 0.9;
    }

    97% {
      opacity: 0.9;
    }

    100% {
      opacity: 0;
      left: 90vw;
    }
  }
}

@media (min-width: 1921px) {
  #top-container .mountain-lg {
    max-width: calc(45vw + 2rem);
  }

  #top-container h1 {
    font-size: calc(3vw + 3rem);
  }

  #top-container .big-letter {
    font-size: calc(3vw + 5rem);
  }

  #top-container h2 {
    font-size: calc(1vw + 0.3rem);
  }
}

@media (max-height: 500px) {
  #top-container {
    background: var(--background-top-gradient);
    background: var(--background-top-gradient-50);
    min-height: 200vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #top-container .mountain-lg {
    display: none;
  }

  #top-container .mountain-sm {
    display: inline;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 28em;
    position: absolute;
    left: 50%;
    bottom: -100vh;
    -webkit-transform: translate3d(-50%, 0, 1px);
    transform: translate3d(-50%, 0, 1px);
  }

  #top-container h1 {
    font-size: 5rem;
  }

  #top-container .big-letter {
    font-size: 6rem;
  }

  #top-container h2 {
    font-size: 1.2rem;
  }

  #top-container .headings-container {
    margin: 0;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    margin-top: 12vh;
    margin-bottom: 20vh;
  }

  #top-container .cloud1,
  .cloud3 {
    display: none;
  }

  #top-container .cloud2 {
    display: inline;
    max-width: 7em;
    opacity: 0.9;
    position: absolute;
    top: 10vh;
    right: 10vw;
  }

  #top-container .cloud4 {
    display: inline;
    max-width: 7em;
    opacity: 0.9;
    position: absolute;
    top: 40vh;
    left: 10vw;
  }
}

/* MIDDLE CONTAINER */

#middle-container {
  margin: 3em 0;
  text-align: center;
}

#middle-container img {
  width: 8em;
}

#middle-container h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#middle-container .middle-headings a {
  position: relative;
  margin: 3em 0;
  background-color: var(--clr-main);
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#middle-container div h2 {
  color: white;
  font-size: 1.7rem;
}

#middle-container .hello-section {
  margin-bottom: 7em;
}

.hello-section p {
  width: 60%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
}

.information-section {
  margin-bottom: 4.5em;
}

.information-section p {
  width: 75%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
}

#contact-section h3 {
  color: var(--clr-main);
  font-size: 0.9rem;
  font-weight: 600;
  margin: 3em 0 0;
}

#contact-section p {
  width: 85%;
  margin: 0.5em auto;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}

#contact-section .contact-me {
  margin: 2em 0 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#contact-section .contact-me a {
  border-radius: 5px;
  border: black solid 1px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: var(--clr-main);
  width: 100px;
  height: 35px;
}

#contact-section .contact-me img {
  width: 2em;
}

/* BOTTOM CONTAINER */

#bottom-container {
  background-color: var(--background-bottom);
  width: 100%;
  height: 6.25em;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "instagram linkedin github"
    ". copyright .";
  row-gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
}

#bottom-container a {
  font-size: 0.7rem;
  color: var(--clr-main);
  font-family: "Montserrat", sans-serif;
}

#bottom-container a:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: instagram;
}

#bottom-container a:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: linkedin;
}

#bottom-container a:last-child {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: github;
}

#bottom-container p {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: copyright;
  color: var(--clr-bottom);
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
}

/* Media query for Middle & Bottom containers */

@media (min-width: 300px) {
  #middle-container .hello-section p {
    width: 50%;
  }
}

@media (min-width: 375px) {
  #contact-section h3 {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }
}

@media (min-width: 500px) {
  #middle-container p {
    width: 60%;
  }

  #middle-container .hello-section p,
  #skills-section p {
    font-size: 1rem;
  }

  #middle-container .hello-section h2 {
    font-size: 1.7rem;
  }

  #middle-container #skills-section h3 {
    font-size: 1.3rem;
  }

  #contact-section h3 {
    font-size: 1.3rem;
  }

  #middle-container #contact-section p {
    font-size: 0.9rem;
  }

  #contact-section .contact-me a:hover img {
    position: relative;
    bottom: 12px;
    width: 2.2em;
  }

  #bottom-container {
    gap: 20px;
    height: 7.8125em;
  }

  #bottom-container a {
    font-size: 0.8rem;
  }

  #bottom-container a:hover {
    color: var(--clr-bottom);
  }

  #bottom-container p {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  #middle-container #skills-section .information-section .information-1,
  #middle-container #skills-section .information-section .information-2 {
    text-align: left;
    width: 60%;
    margin: 0 auto;
  }

  #middle-container #skills-section .information-section .information-1 h3,
  #middle-container #skills-section .information-section .information-1 p {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  #middle-container #skills-section .information-section .information-1 h3 {
    margin-bottom: 1em;
  }

  #middle-container
    #skills-section
    .information-section
    img[alt="develop-website-img"] {
    float: left;
    margin-right: 2em;
    shape-outside: circle(50%);
  }

  #middle-container #skills-section .information-section .information-2 {
    text-align: right;
    width: 60%;
    margin: 0 auto;
  }

  #middle-container #skills-section .information-section .information-2 h3,
  #middle-container #skills-section .information-section .information-2 p {
    text-align: right;
    margin: 0;
    width: 100%;
  }

  #middle-container #skills-section .information-section .information-2 h3 {
    margin-bottom: 1em;
  }

  #middle-container #skills-section .information-section .information-2 {
    margin-bottom: 6.5em;
  }

  #middle-container
    #skills-section
    .information-section
    img[alt="develop-website2-img"] {
    float: right;
    margin-left: 2em;
    shape-outside: circle(50%);
  }

  #middle-container .hello-section {
    margin: 5em 0 10em;
  }

  #middle-container .middle-headings a {
    height: 125px;
    margin: 5em 0;
  }

  #contact-section .middle-headings a {
    margin-bottom: 4em;
  }

  #middle-container div h2 {
    font-size: 2rem;
  }

  #middle-container p {
    width: 50%;
  }

  #contact-section h3 {
    font-size: 1.17rem;
  }

  #contact-section .contact-me a {
    width: 125px;
    height: 40px;
  }

  #contact-section .contact-me img {
    width: 2.3em;
  }

  #contact-section .contact-me a:hover img {
    bottom: 15px;
    width: 2.5em;
  }

  #bottom-container {
    gap: 20px;
    height: 7.8125em;
  }

  #bottom-container a {
    font-size: 0.9rem;
  }

  #bottom-container p {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  #middle-container .hello-section p,
  #skills-section p,
  #contact-section p {
    width: 40ch;
  }

  #middle-container #skills-section .information-section .information-1,
  #middle-container #skills-section .information-section .information-2 {
    width: 45%;
  }

  #middle-container img {
    width: 11em;
  }
}

@media (min-width: 1200px) {
  #middle-container #skills-section .information-section .information-1 {
    margin-bottom: 5em;
  }
  #middle-container #skills-section .information-section .information-1,
  #middle-container #skills-section .information-section .information-2 {
    width: 80ch;
  }

  #middle-container .hello-section {
    margin-top: 10em;
  }

  #middle-container .hello-section h2 {
    font-size: 2rem;
  }

  #middle-container p,
  #middle-container .hello-section p {
    font-size: 1.1rem;
  }

  #middle-container #skills-section h3 {
    font-size: 1.4rem;
  }

  #middle-container .middle-headings a {
    width: 65%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7em;
  }

  #middle-container .middle-headings a {
    margin-top: 10em;
  }

  #middle-container .middle-headings h2 {
    font-size: 2.5rem;
  }

  #contact-section .middle-headings a {
    margin-bottom: 3em;
  }

  #contact-section h3 {
    font-size: 1.5rem;
    margin-top: 2em;
  }

  #middle-container #contact-section p {
    font-size: 1rem;
    width: 100%;
  }

  #middle-container .contact-me {
    margin-bottom: 7em;
  }

  #bottom-container {
    height: 175px;
  }

  #bottom-container a {
    font-size: 1rem;
  }

  #bottom-container p {
    font-size: 0.9rem;
  }
}

@media (min-width: 1921px) {
  #middle-container img {
    width: 13em;
  }

  #middle-container .hello-section h2 {
    font-size: 2.5rem;
  }

  #middle-container #skills-section h3 {
    font-size: 1.6rem;
  }

  #middle-container .hello-section p,
  .skills-section p {
    font-size: 1.3rem;
  }

  #middle-container .middle-headings {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  #middle-container #contact-section h3 {
    font-size: 1.7rem;
  }

  #middle-container #contact-section p {
    font-size: 1.2rem;
  }

  #contact-section .contact-me a {
    width: 150px;
    height: 50px;
  }

  #contact-section .contact-me a img {
    width: 2.5em;
  }

  #bottom-container {
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
    row-gap: 25px;
  }

  #bottom-container a {
    font-size: 1.2rem;
  }
}
