/* GENERAL */

*, *:before, *:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --clr-top: #dffbff;
  --clr-heading: #698E71
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

/* TOP CONTAINER */

#top-container {
  background-color: var(--clr-top);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#top-container .cloud1 {
  width: 10%;
}

#top-container .cloud2 {
  width: 10%;
}

#top-container .mountain {
  max-width: 60em;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  margin: 0 auto;
}

#top-container h1,h2 {
  text-align: center;
  color: var(--clr-heading);
}

#top-container h1 {
  font-family: 'Clicker Script', cursive;
  font-weight: 400;
  font-size: 5.625rem;
  margin: 0;
  position: sticky;
  top: .5em;
}

#top-container span{
  font-size: 8rem;
}

#top-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
  position: sticky;
  top: 7.5em;
}


