/* GENERAL */

:root {
  --clr-main-heading: #658e6e;
  --clr-secondary-heading: #75a47c;
}

body,
figure {
  margin: 0;
}

img[alt="cloud-img"] {
  width: 10em;
}

main img {
  width: 10em;
}

h1 {
  color: var(--clr-main-heading);
}

h2 {
  color: var(--clr-secondary-heading);
}

/* TOP CONTAINER */

#top-container {
  background: rgb(223, 251, 255);
  background: linear-gradient(
    180deg,
    rgba(223, 251, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#top-container h1 {
  margin: 0;
  color: #658e6e;
  font-family: "Clicker Script", cursive;
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5em;
}

#top-container .big-letter {
}

#top-container h2 {
  margin: 0;
  color: #75a47c;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

#top-container .headings-container {
  margin: 0;
  text-align: center;
  order: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5em;
  transform: translateY(-1px);
  margin-top: 20vh;
  margin-bottom: 15vh;
}

/* ANIMATION AND SOLVE THE PROBLEM WHEN THEY REACH THE RIGHT DISPLAY */

#top-container .cloud1 {
  position: absolute;
}

#top-container .cloud2 {
  position: absolute;
}

#top-container .cloud3 {
  position: absolute;
}

#top-container .cloud4 {
  position: absolute;
}

#top-container .mountain-sm {
  order: 2;
  max-width: 50em;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 0, 1px);
}

#top-container .mountain-lg {
  display: none;
}

@media (max-width: 375px) {
  #top-container .headings-container {
    margin: 0;
    text-align: center;
    order: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    transform: translateY(-1px);
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  #top-container h1 {
    font-size: 4rem;
  }

  #top-container h2 {
    font-size: 0.95rem;
  }
}

@media (max-width: 300px) {
  #top-container h1 {
    font-size: 3.5rem;
  }

  #top-container h2 {
    font-size: 0.8rem;
  }

  #top-container .headings-container {
    margin: 0;
    text-align: center;
    order: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    transform: translateY(-1px);
    margin-top: 15vh;
    margin-bottom: 15vh;
  }
}

@media (min-width: 600px) {
  #top-container {
    background: rgb(223, 251, 255);
    background: linear-gradient(
      180deg,
      rgba(223, 251, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #top-container .mountain-sm {
    display: inline;
    order: 2;
    max-width: 40em;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 1px);
  }

  #top-container h1 {
    margin: 0;
    color: #658e6e;
    font-family: "Clicker Script", cursive;
    font-weight: 500;
    font-size: 6rem;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
  }

  #top-container h2 {
    margin: 0;
    color: #75a47c;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
  }

  #top-container .headings-container {
    margin: 0;
    text-align: center;
    order: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    transform: translateY(-1px);
    margin-top: 15vh;
  }
}

@media (min-width: 768px) {
  #top-container {
    background: rgb(223, 251, 255);
    background: linear-gradient(
      180deg,
      rgba(223, 251, 255, 1) 0%,
      rgba(255, 255, 255, 1) 70%
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #top-container .mountain-sm {
    display: none;
  }

  #top-container .mountain-lg {
    display: inline;
    order: 2;
    max-width: 50em;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 1px);
  }

  #top-container h1 {
    margin: 0;
    color: #658e6e;
    font-family: "Clicker Script", cursive;
    font-weight: 500;
    font-size: 6.5rem;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
  }

  #top-container h2 {
    margin: 0;
    color: #75a47c;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
  }

  #top-container .headings-container {
    margin: 0;
    text-align: center;
    order: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    transform: translateY(-1px);
    margin-top: 15vh;
  }
}

@media (min-width: 992px) {
  #top-container {
    background: rgb(223, 251, 255);
    background: linear-gradient(
      180deg,
      rgba(223, 251, 255, 1) 0%,
      rgba(255, 255, 255, 1) 70%
    );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #top-container .mountain-sm {
    display: none;
  }

  #top-container .mountain-lg {
    display: inline;
    order: 2;
    max-width: 50em;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 1px);
  }

  #top-container h1 {
    margin: 0;
    color: #658e6e;
    font-family: "Clicker Script", cursive;
    font-weight: 500;
    font-size: 6.5rem;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
  }

  #top-container h2 {
    margin: 0;
    color: #75a47c;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
  }

  #top-container .headings-container {
    margin: 0;
    text-align: center;
    order: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    transform: translateY(-1px);
    margin-top: 15vh;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  #top-container {
    background: rgb(223, 251, 255);
    background: linear-gradient(
      180deg,
      rgba(223, 251, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%
    );
    min-height: 200vh;
    display: flex;
    flex-direction: column;
  }

  #top-container .mountain-sm {
    order: 2;
    max-width: 50em;
    position: absolute;
    left: 50%;
    bottom: -100vh;
    transform: translate3d(-50%, 0, 1px);
  }

  #top-container .headings-container {
    margin: 0;
    text-align: center;
    order: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0.5em;
    transform: translateY(-1px);
    margin-top: 25vh;
    margin-bottom: 20vh;
  }
}
